/*
    * Font Family
    */

$font-family-header: 'Lato', sans-serif;
$font-family-normal: Helvetica, sans-serif;

/*
    * Fluid Typography
    */

$min-viewport-width: 320px;
$max-viewport-width: 1200px;

$font-size-min: 16px;
$font-size-max: 18px;

// Import Bulma's core
@import '~bulma/sass/utilities/_all';

/*
    * Colors
    */

// Primary
$color-primary: #20272c;
$color-primary-lighter: rgb(52, 62, 70);
$color-primary-invert: findColorInvert($color-primary);

$color-secondary: #f7f7f7;
$color-secondary-darker: darken($color-secondary, 5%);
$color-secondary-invert: findColorInvert($color-secondary);

$color-accent: #ffc61b;
$color-accent-darker: darken($color-accent, 5%);
$color-accent-invert: findColorInvert($color-accent);
$color-accent-border: darken($color-accent, 25%);

$color-background: #ffffff;
$color-background-invert: findColorInvert($color-background);

$color-shadow-dark: rgba(60, 60, 60, 0.6);
$color-shadow-light: rgba(215, 215, 215, 0.6);

/*
    * Buefy Customization
    */

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    // Base
    'white': ($white, $black),
    'black': ($black, $white),
    'light': ($light, $light-invert),
    'dark': ($dark, $dark-invert),
    'red': (red, black),
    'maroon': (maroon, white),
    'pink': (pink, black),
    'purple': (purple, white),
    'yellow': (gold, black),
    'orange': (orange, white),
    'lime': (lime, black),
    'green': (green, white),
    'cyan': (cyan, black),
    'blue': (blue,white),
    // Design System 'primary': ($color-primary, $color-primary-invert),
    'secondary': ($color-secondary, $color-secondary-invert),
    'accent': ($color-accent, $color-accent-invert),
    'background': ($color-background, $color-background-invert),
    // Action Colors 'info': ($info, $info-invert),
    'success': ($success, $success-invert),
    'warning': ($warning, $warning-invert),
    'danger': ($danger, $danger-invert)
);

// Links
$link: $color-accent;
$link-invert: darken($color-accent, 25%);
$link-focus-border: lighten($color-accent, 25%);

// Other
$navbar-height: 2rem;
$body-overflow-y: auto;
$body-min-width: 320px;
$tablet: 1024px;

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';
